@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;400;500;600;700&display=swap');

body {
    color: #333;
    font-family: 'Verdana';
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Glory', sans-serif;
    margin: 0 0 20px;

    /* margin: top right bottom left;
    margin: top left/right bottom;
    margin: top/bottom left/right;
    margin: all;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; */
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.container {
    /* background-color: aqua; */
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;

     /* padding: top right bottom left;
    padding: top left/right bottom;
    padding: top/bottom left/right;
    padding: all;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; */
}

label {
    display: block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    width: 100%;
}

input {
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: none;
    color: #000;
    height: 40px;
    display: block;
    line-height: 22px;
    margin: 0 0 15px;
    padding: 8px 15px;
    outline: none;
    width: 100%;
}

input:hover,
input:focus {
    border-color:black;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
}